* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.first-banner-container {

    background: rgba(229, 84, 115, 0.10);
    display: flex;
    gap: 15px;
    margin-bottom: 100px;

}

.first-banner-img {
    width: 435px;
    height: 600px;

    /* padding-top: 100px;
    padding-right: 240px;
    padding-bottom: 0px; */
    padding: 100px 240px 0px 30px;

}

.first-banner-text {
    padding: 197px 0px 0px 240px;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 20px;
}

.banner-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}

.btn {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
}

.second-banner-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 35px;
    font-weight: 800;
}

.second-banner {
    max-width: 450px;
    padding-left: 550px;
}

.second-banner-paragraph {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
}

.third-banner {
    padding-left: 240px;
}

.third-banner-1st-background {
    width: 350px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.third-banner-2nd-background {
    width: 350px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.third-banner-3rd-background {
    width: 350px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.third-banner {
    display: flex;
    gap: 25px;
    text-align: center;
    margin-bottom: 100px;
}

.third-banner-1st-img {
    width: 210px;
    height: 320px;
    padding: 110px 78px 0px 76px;
}
.third-banner-2nd-img {
    width: 210px;
    height: 320px;
    padding: 110px 78px 0px 76px;
}
.third-banner-3rd-img {
    width: 210px;
    height: 320px;
    padding: 110px 78px 0px 76px;
    
}
