* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #FFF8F3;
}

nav {
    display: flex;
    gap: 30px;
    padding: 30px 0px 60px 0px;
    justify-content: space-around;
}

nav li {
    display: flex;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.text-primary {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
}

nav button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.first-banner-container {

    background: rgba(229, 84, 115, 0.10);
    display: flex;
    gap: 15px;
    margin-bottom: 100px;

}

.first-banner-img {
    width: 435px;
    height: 600px;

    /* padding-top: 100px;
    padding-right: 240px;
    padding-bottom: 0px; */
    padding: 100px 240px 0px 30px;

}

.first-banner-text {
    padding: 197px 0px 0px 240px;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 20px;
}

.banner-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}

.btn {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
}

.second-banner-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 35px;
    font-weight: 800;
}

.second-banner {
    max-width: 450px;
    padding-left: 550px;
}

.second-banner-paragraph {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
}

.third-banner {
    padding-left: 240px;
}

.third-banner-1st-background {
    width: 350px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.third-banner-2nd-background {
    width: 350px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.third-banner-3rd-background {
    width: 350px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.third-banner {
    display: flex;
    gap: 25px;
    text-align: center;
    margin-bottom: 100px;
}

.third-banner-1st-img {
    width: 210px;
    height: 320px;
    padding: 110px 78px 0px 76px;
}

.third-banner-2nd-img {
    width: 210px;
    height: 320px;
    padding: 110px 78px 0px 76px;
}

.third-banner-3rd-img {
    width: 210px;
    height: 320px;
    padding: 110px 78px 0px 76px;

}

.fourth-banner {

    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 50px 40px;
    margin: 0px 240px;
    gap: 100px;
    margin-bottom: 100px;

}

.fiveth-banner-container {

    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    gap: 100px;
    margin-bottom: 100px;
    text-align: center;
    align-items: center;

}

.fiveth-banner-img {
    width: 280px;
    height: 350px;

    /* padding-top: 100px;
    padding-right: 240px;
    padding-bottom: 0px; */
    padding: 100px 240px 100px 30px;

}

.fiveth-banner-text {
    padding-left: 200px;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 20px;
}

.banner-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}

.fiveth-banner-design {
    color: #E55473;
}

.seventh-banner-container {
    margin: 12px 200px;
    display: flex;
    gap: 24px;
    margin-bottom: 100px;
}

.seventh-banner-1st-background {
    width: 270px;
    height: 320px;
}

.seventh-banner-2nd-background {
    width: 270px;
    height: 320px;
}

.seventh-banner-3rd-background {
    width: 270px;
    height: 320px;
}

.seventh-banner-4th-background {
    width: 270px;
    height: 320px;
}

.eight-banner {
    background-image: url("Flower Asset/Rectangle\ 9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 198px 100px 200px;
}

.eight-banner-title {
    padding-top: 130px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 35px;
    font-weight: 800;
}

.text-box {
    width: 600px;
    height: 50px;
    text-align: center;
    margin: 20px 25px 121px 187px;
}

.form-class {
    display: flex;
    gap: 0px;
    align-items: center;
    text-align: center;

}

.btn1 {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    margin-right: 100px;
    margin-bottom: 100px;
    color: #FFF;
}

.feedback-container {
    width: 100%;
    height: 100vh;
    background-color: gray;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-left {
    width: 50%;
}

.btn-service {
    background-color: white;
    color: gray;
    border-radius: 25px;
}
.submit-button{
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    margin-bottom: 20px;
}
.author-container {
    display: flex;
    justify-content: start;
    gap: 0px;
}

.author-details {
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(245, 44, 44);
    margin-right:0px;

}

.author-details img {
    width: 10%;
    border-radius: 100px;
    padding: 5px;

}

.more-details {
    padding: 15px 30px;
    margin-left: 11px; 
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: none;
    border: 1px solid rgb(51, 48, 48);
    color: rgb(245, 44, 44);
}
.feedback-container-title{

    color: lightblue;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px;
}
.FeedBack input[type="text"], .FeedBack input[type="email"],
textarea {
    display: block;
    margin-bottom: 15px;
    padding: 12px 23px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 50%;
}

/* .service-right{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.heading-title{
    color: lightblue;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
    text-align: center;
}
.Flower-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.services-left-content{
    padding-top: 70px;
}
.Flower {
    box-shadow: 4px 4px 8px rgb(26, 24, 24);
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 90px;
    padding-top: 0px;
    text-align: center;
    width: 200px;
    height: 200px;
    margin-right: 15px;
}

.Flower-logo {
    width: 100px;
    padding: 5px;
    padding-top: 0px;
}



.footer {
    height: 449px;
    background: #111010;
    text-align: center;
    color: azure;
}

.footer-heading {
    padding-top: 120px;
    font-size: 35px;
    margin-bottom: 20px;
}

.Flower-colour-change {
    color: #E55473;
    ;

}

.footer-first-paragraph {
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    width: 625px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 400px;
}

.footer-last-paragraph {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}
.flower-name{
    padding-top: 0px;
    margin-top: 0px;
}